html {
    height:100%;
  }
  
  body {
    margin:0;
    font-family:monospace;
    background-color: #41464b;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(241, 76, 61) 50%, rgb(0, 0, 0) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  .about{
   
    background-color:#41464b;
    width: 100%;
    padding: 48px 0px;
    padding:10vmin;
    position:fixed;
    

  }
  .about img{
    width: auto;
    margin-left: 3%;
    border-radius: 20px;
  }
  .about-text{
    width: 550px;
    margin-left: 6%;
  }
  .main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-text h1{
    color: white;
    font-size: 5rem;
    text-transform: capitalize;
    margin-bottom: 20px;
    
  }
  .about-text h5{
    color: white;
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 20px; 
    letter-spacing: 1px;
  }
  .about-text p{
    color: rgb(184, 95, 226);
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 45px;
    
  }

  .about-button button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    font-size: 20px;
    align-items: right;
  }
 
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

