html {
    height:100%;
  }
  
  body {
    margin:0;
    font-family:monospace;
    background-color: #41464b;
  }
  .stacode{
    margin-bottom: 2%;
    text-align: center;
    color: red;
    

  }
  .stacode h2{
    color: white;
    
  }
  .rescontent{
    text-align: center;
    word-wrap: break-word;
    color: white;
    margin: 4%;
  }
  .rescontent h1{
    text-align: center;
    word-wrap: break-word;
    font-weight: bold;
    color: red;
  }
  .rescontent h2{
    border: 2px solid greenyellow;
    padding: 3%;
  }

  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(241, 76, 61) 50%, rgb(0, 0, 0) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  .content-button button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    font-size: 20px;
    align-items: right;
  }
  .content-error{
    margin-top: 10%;
    text-align: center;
    font-weight: bold;
  }
  
  .about{
   
    background-color:#41464b;
    width: 100%;
    padding: 48px 0px;
    position:relative;
    

  }
  .about img{
    width: auto;
    margin-left: 3%;
    border-radius: 20px;
  }
  .about-text{
    width: 550px;
    margin-left: 6%;
  }
  .main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-text h1{
    color: white;
    font-size: 5rem;
    text-transform: capitalize;
    margin-bottom: 20px;
    
  }
  .about-text h5{
    color: white;
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 20px; 
    letter-spacing: 1px;
  }
  .about-text p{
    color: rgb(184, 95, 226);
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 45px;
    
  }

  .about-button button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    font-size: 20px;
    align-items: right;
  }
 
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

  .challange-main{
    margin-top: 10px;
    padding: 5%;
    height: 100%;
    width: 100%;

  }
  .challange-main-xss{
    text-align: center;
    margin-bottom: 5%;
    color: black;
    height: 5rem;
    background-color: rgba(250, 253, 255, 0.842);
    border-radius: 20%;
    -webkit-box-shadow: 0px 20px 0px -10px #56e969, 0px -20px 0px -10px #56e969, 20px 0px 0px -10px #56e969, -20px 0px 0px -10px #56e969, 0px 0px 0px 10px #242424, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 20px 0px -10px #56e969, 0px -20px 0px -10px #56e969, 20px 0px 0px -10px #56e969, -20px 0px 0px -10px #56e969, 0px 0px 0px 10px #111111, 5px 5px 15px 5px rgba(0,0,0,0);
  }
  .challange-main-xss a{
    font-size: 35px;
    font-weight: bold;
    text-decoration:none;
    color: black;
    
  }
  .challange-main-xss p{
    padding: 18px;
  }
  
  .numimg{
    width: 320px;
    height: 405px;
  }

  .diceinput{
    margin-top: 5%;
    margin-left: 25% ;
    margin-bottom:  5% ;
  }

  .dice-button button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    font-size: 20px;
    align-items: right;
    margin-left: 23% ;
  }